.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--text-color);
  padding: 16px;
  padding-top: 0px;
}

.text {
  font-size: 14px;
  min-width: 40em;
  max-width: 40em;
  line-height: 1.6;
  display: inline-block;
  margin-left: 16px;
  margin-right: 32px;
  padding-bottom: 16px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* padding-bottom: 32px; */
  color: var(--header-color);
}

.callOut {
  font-size: 12px;
  line-height: 1.45;
  color: var(--caption-color);
  width: 100%;
  padding-bottom: 16px;
  justify-content: flex-end;
}

.list {
  max-width: 40em;
  font-size: 14px;
  line-height: 1.6;
  margin-right: 16px;
  margin-bottom: 16px;
}

.img {
  width: 100%;
}

.row {
  display: flex;
  grid-column-gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.leftCol {
  width: 100%;
}

.leftCol figure {
  padding-top: 16px;
  padding-bottom: 24px;
}

.iframe {
  border: none;
  height: 50vh;
}


@media (min-width: 1441px) {
  .text {
    max-width: 50em;
    min-width: 50em;
  }
  .list {
    max-width: 50em;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 24px;
    align-items: flex-start;
  }

  .row {
    flex-direction: column;
    /* background-color: red; */
  }

  .text {
    max-width: 100%;
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .callOut {
    padding-bottom: 16px;
  }

  .header {
    justify-content: flex-start;
    padding-top: 8px;
    padding-bottom:16px;
  }

  .leftCol {
    padding-bottom: 00px;
  }
  .leftCol figure {
    padding-top: 16px;
    padding-bottom: 16px;
  }

}
