.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.mobile {
  display: none;
}

.essay {
  max-height: 100vh;
  overflow: scroll;
}
.panel {
  max-height: 100vh;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    display: none;
  }
  .mobile {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
