.container {
  background-color: var(--panel-bg);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
  color: var(--panel-color);
  overflow: hidden;
}

.sticky {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 32px;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

/*** Header ***/
.header {
  overflow: hidden;
}

.title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 16px;
  overflow: hidden;
}

.sub {
  font-size: 28px;
  padding-top: 0px;
  line-height: 1.2;
  font-weight: 600;

  /* padding-bottom: 36px; */
}

.author {
  padding-top: 16px;
  font-size: 28px;
  color: var(--panel-2);
  font-weight: bold;
  /* text-transform: uppercase; */
  /* font-weight: 600; */
}

.container a {
  color: var(--panel-2);
}

.container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nameLink {
  font-size: 22px;
  font-weight: bold;
}
/*** End Header ***/

/*** Image Grid ***/
.gridContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}
.imgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  position: relative;
}

.imgSingle {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}
.imgGrid img {
  width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
}
.imgSingle img {
  width: 100%;
  height: auto;
  mix-blend-mode: luminosity;
}
/*** Image Grid ***/

/*** Info ***/
.info {
}

.infoHeader {
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: bold;
}

.text {
  font-size: 12px;
  line-height: 1.45;
  color: var(--panel-2);
}

.text a {
  text-decoration: underline;
}

.text hr {
  margin-bottom: 16px;
  border: 0.25px solid var(--panel-color);
}

/*** End Info ***/

/*** Mobile ***/
@media (max-width: 1024px) {
  .container {
    padding: 24px;
    padding-bottom: 0px;
  }

  .header {
    padding-top: 0px;
  }

  .title {
    font-size: 64px;
  }

  .sticky {
    position: relative;
    height: auto;
  }

  .imgSingle {
    padding: 32px 0px;
  }

  .info {
    padding-bottom: 0px;
  }
}
/*** End Mobile ***/
