.container {
  background-color: #e3ca7e;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
  color: var(--panel-color);
}

.sticky {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 16px;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

/*** Header ***/
.header {
  
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.sub {
  font-size: 28px;
  /* padding-bottom: 36px; */
}

.container a {
  color: var(--panel-color);
}

.container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nameLink {
  font-size: 22px;
  font-weight: bold;
}
/*** End Header ***/

/*** Image Grid ***/
.gridContainer {
  background-color: red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}
.imgGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.imgGrid img {
  width: 100%;
  mix-blend-mode:luminosity;
}
/*** Image Grid ***/

/*** Info ***/
.info {
  
}

.infoHeader {
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: bold;
}

.text {
  font-size: 12px;
  line-height: 1.45;
}

.text a {
  text-decoration: underline;
}

.text hr {
  margin-bottom: 16px;
  border: 0.25px solid var(--panel-color);
}

/*** End Info ***/

/*** Mobile ***/
@media (max-width: 1200px) {
  .container {
    padding: 24px;
    padding-bottom: 0px;
  }

  .sticky {
    position: relative;
  }

  .info {
    padding-bottom: 0px;
  }
  
}
/*** End Mobile ***/

